@media screen and (max-width: 800px) {

    .chat-window {
        height: 65vh;
        width: 100vw;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }

    .chat {
        z-index: 100;
        margin: 0;
        top: auto;
        left: -10px;
        bottom: 20px;
        right: auto;
        position: fixed;
    }
}
@media screen and (min-width: 800px) {

    .chat-window {
        height: 400px;
        width: 400px;
        max-height: 400px;
        margin-bottom: 20px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .chat {
        z-index: 100;
        margin: 0;
        top: auto;
        left: 20px;
        bottom: 20px;
        right: auto;
        position: fixed;
    }
}
.chat-list-item{
    max-width: 80%;
}
